# Ignore files with "secret" in their names
*secret*

# Ignore Azure credentials
platform-core/crossplane/overlays/dev/azure-creds.json

# Ignore Kustomize helm chart cache
**/charts/

.DS_Store
.terraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.lock.info